<!DOCTYPE html>
<html>
    <head>
        <title>Quingenti</title>
    </head>

    <body>
        <h1>{{ category_name }}</h1>
        {% if category %}
            {% if gigs %}
            <ul>
                {% for gig in gigs %}
                <li><a href="{{ gig.url }}">{{ gig.title }}</a></li>
                {% endfor %}
            </ul>
            {% else %}
                <strong>No gigs currently in category.</strong>
            {% endif %}
        {% else %}
            The specified category {{ category_name }} does not exist!
        {% endif %}
    </body>
</html>

